/* Main */
/* Footer */
.footer {

    background:#000000;
    padding: 20px 0;
    text-align: center;
    color:rgb(255, 255, 255)
}
.footer-left {
    text-align: left;
}
.footer-right {
    text-align: right;
}
.footer-logo {
    max-width: 300px; 
    height: auto;
}       
/* Main End */

.custom-bg-color {
    background:#000000; /* !important to override default Bootstrap style */
}


/* adapt side bar */
@media (min-width: 768px) {
    .sidebar {
        width: 230px; /* width on big screen */
    }
}

@media (max-width: 767.98px) {
    .sidebar {
        width: 72px; /* width on small screen */
    }

    .sidebar .navbar-brand img {
        width: 100px; /* degris logo size for small screen */
    }

}

/* side nav bar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* on other lements */
    width: 45px;
    padding: 48px 0 0; /* top padding  */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* shadow */
}

.sidebar .nav-link {
    color: #fff; /* Цвет ссылок */
}

body{
    background-image: url("img/back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
}

     
